.sidebar-area {
    background-color: #ffffff;
    height: 100%;
    width: 15%;
    position: fixed;
    align-items: center;
    text-align: center;
}

.sidebar-header {
    background: linear-gradient(180deg, #560faa, #410058, #000000);
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    padding-right: 40px;
}

.sidebar-header li {
    margin-bottom: 20px;
}

.sidebar-header a {
    color: #ffffff;
    text-decoration: none;
}

.sidebar-header div {
    background-color: #ffffff;
    padding: 25px;
    border-radius: 50px;
    margin: 30px 30px 10px 30px;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
}

.sidebar-links li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.sidebar-links a {
    text-decoration: none;
    color: #ffffff;
}

.sidebar-links li:hover {
    background: linear-gradient(180deg, #560faa, #410058, #000000);
    color: #ffffff;
}

@media screen and (max-width:760px) {
    .sidebar-area {
        width: 100%;
    }
    .sidebar-links {
        text-align: center;
    }
    #correo {
        display: none;
    }
}