// Global component styles

html {
  position: relative;
  min-height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

a {
  &:focus {
    outline: none;
  }
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}

// Main page wrapper
#wrapper {
  display: flex;
  #content-wrapper {
    background-color: $white;
    width: 100%;
    overflow-x: hidden;
    #content {
      flex: 1 0 auto;
    }
  }
}

// Set container padding to match gutter width instead of default 15px
.container,
.container-fluid {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

// Scroll to top button
.scroll-to-top {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  display: none;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  color: $white;
  background: fade-out($gray-800, 0.5);
  line-height: 46px;
  &:focus,
  &:hover {
    color: white;
  }
  &:hover {
    background: $gray-800;
  }
  i {
    font-weight: 800;
  }
}

/* Add Animation */

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */

.close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  text-decoration: none;
  cursor: pointer;
}

.navbar-nav {
  .nav-item {
    .user-name {
      & h2 {
        margin: 0.5rem 0.5rem 0 0.5rem;
      }
    }
    .saldo {
      margin: 0 0.5rem 0.5rem;
      font-weight: 300;
    }
  }
}
