.tabla-dashboard{
    thead th {
        color: $primary;
        font-size: .9rem;
    }
}

.card{
    .card-header{
        background: #D8D8D8;
    }
    input{
        padding: 0.5rem 1.25rem;;
        font-weight: 300;
    }
}

//Search Box
.tabs-filters{
    button, input{
        height: 40px;
    }
    .filter-btn{
        width: 15%;
    }
    .filter-search{
        width: 85%;
        .form-control {
            padding-left: 2.375rem;
        }
        .form-control-feedback {
            position: absolute;
            z-index: 2;
            display: block;
            width: 2.375rem;
            height: 2.375rem;
            line-height: 2.375rem;
            text-align: center;
            pointer-events: none;
            color: #aaa;
        }
    }
}

//Content TAB
#content-tab{
    .tab-content{
        width: 100%;
    }
}