<body>
    <!--Modal - Agregar Saldo-->
    <div class="modal fade bd-example-modal-lg" id="modal-AgregarSaldo" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12">
                                <!-- TABS -->
                                <ul class="nav nav-pills mb-3 d-flex justify-content-between" id="pills-tab-modal-agregar-saldo" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="pills-tarjeta-tab" data-toggle="pill" href="#pills-tarjeta" role="tab" aria-controls="pills-tarjeta" aria-selected="true">TARJETA</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-tienda-tab" data-toggle="pill" href="#pills-tienda" role="tab" aria-controls="pills-tienda" aria-selected="false">PAGO EN TIENDA</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-paypal-tab" data-toggle="pill" href="#pills-paypal" role="tab" aria-controls="pills-paypal" aria-selected="false">PAYPAL</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" id="pills-transferencia-tab" data-toggle="pill" href="#pills-transferencia" role="tab" aria-controls="pills-transferencia" aria-selected="false">TRANSFERENCIA</a>
                                    </li>
                                </ul>

                                <div class="tab-content" id="pills-tab-modal-agregar-saldo-Content">
                                    <div class="tab-pane fade show active" id="pills-tarjeta" role="tabpanel" aria-labelledby="pills-home-tab">
                                        <div class="row my-4">
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <h6>
                                                        Tarjetas de Crédito
                                                    </h6>
                                                </div>

                                                <div class="row">
                                                    <img src="../img/cards1.png">
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="row">
                                                    <h6>
                                                        Tarjetas de Débito
                                                    </h6>
                                                </div>

                                                <div class="row">
                                                    <img src="../img/cards3.png">
                                                </div>
                                            </div>

                                        </div>

                                        <div class="row">
                                            <div class="col-lg-6">
                                                <div class="demo-container">
                                                    <div class="credit-card-wrapper"></div>
                                                </div>
                                            </div>

                                            <div class="col-lg-6">
                                                <div class="form-container active">
                                                    <form id="form-card" action="">
                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label for="Nombre">Nombre*</label>
                                                                <input class="form-control" placeholder="Como aparece en la tarjeta" type="text" name="name" />
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-12">
                                                                <label for="Numero">Número de Tarjeta*</label>
                                                                <input class="form-control" placeholder="**** **** **** ****" type="tel" name="number" />
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="form-group col-lg-6">
                                                                <label for="Fecha">Fecha de Expiración*</label>
                                                                <input class="form-control" placeholder="MM/YY" type="tel" name="expiry" />
                                                            </div>
                                                            <div class="form-group col-lg-6">
                                                                <label for="CVC">CVC*</label>
                                                                <input class="form-control" placeholder="CVC" type="number" name="cvc" />
                                                            </div>
                                                        </div>

                                                        <div class="form-row">
                                                            <div class="col-lg-6">
                                                                <label for="Cantidad">Cantidad a depositar</label>
                                                                <input type="text" name="" id="" class="form-control" placeholder="$00.00">
                                                            </div>

                                                            <button type="button" class="btn btn-secondary col-lg-5 mt-4 ml-3 text-black" data-dismiss="modal">PAGAR</button>

                                                        </div>

                                                    </form>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mt-3">
                                            <div class="col">
                                                <small>
                                                <p>Realiza transferencia con un mínimo de $300.00 MXN.</p>
                                                <p>Este movimiento no genera comisión.</p>
                                                <p>El saldo quedará agregado en un máximo de 3 minutos.</p>
                                            </small>
                                            </div>
                                            <div class="col">
                                                <small>
                                                <p>Transacciones realizadas via Openpay <img src="../img/openpay.png"></p>
                                                <p>Tus pagos se realizan de forma segura con encriptación de 256 bits <img src="../img/security.png"></p>
                                            </small>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-tienda" role="tabpanel" aria-labelledby="pills-tienda-tab">
                                        <div class="container-fluid">
                                            <div class="row my-3">
                                                <div class="col">
                                                    <p>
                                                        <h6>
                                                            1. Selecciona la tienda en la que deseas pagar.
                                                        </h6>
                                                    </p>

                                                    <div class="board-tiendas">
                                                        <div class="box-tienda">
                                                            <img src="../img/f-benavides.jpg">
                                                            <p>Farmacias Benavides</p>
                                                        </div>
                                                        <div class="box-tienda">
                                                            <img src="../img/711.jpg">
                                                            <p>7-Eleven</p>
                                                        </div>
                                                        <div class="box-tienda">
                                                            <img src="../img/walmart.png">
                                                            <p>Walmart</p>
                                                        </div>
                                                        <div class="box-tienda">
                                                            <img src="../img/fahorro.jpg">
                                                            <p>Farmacias del Ahorro</p>
                                                        </div>
                                                        <div class="box-tienda">
                                                            <img src="../img/sams.png">
                                                            <p>Sam's</p>
                                                        </div>
                                                        <div class="box-tienda">
                                                            <img src="../img/Superama.png">
                                                            <p>Superama</p>
                                                        </div>
                                                        <div class="box-tienda">
                                                            <img src="../img/aurrera.png">
                                                            <p>Bodega Ahorrera</p>
                                                        </div>
                                                        <div class="box-tienda">
                                                            <img src="../img/guadalajara.jpg">
                                                            <p>Farmacias Guadalajara</p>
                                                        </div>
                                                        <div class="box-tienda">
                                                            <img src="../img/waldos.jpg">
                                                            <p>Waldo's</p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col">
                                                    <p>
                                                        <h6>
                                                            2. Escribe la cantidad y haz clic en "Generar ficha de pago".
                                                        </h6>
                                                    </p>
                                                    <label for="Nombre">Cantidad a depositar</label>
                                                    <input type="text" name="" id="" class="form-control" placeholder="$00.00">
                                                    <div class="d-flex flex-row bd-highlight justify-content-end mt-3 mb-4">
                                                        <button type="button" class="btn btn-secondary ml-4 text-black" data-dismiss="modal">GENERAR</button>
                                                    </div>

                                                    <p>
                                                        <h6>
                                                            3. Imprime tu recibo, paga en la tienda que seleccionaste y el saldo se carga en minutos.
                                                        </h6>
                                                    </p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row-reverse bd-highlight mt-5">
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">ENTENDIDO</button>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="tab-pane fade" id="pills-paypal" role="tabpanel" aria-labelledby="pills-paypal-tab">
                                        <div class="container-fluid">
                                            <div class="d-flex flex-column justify-content-between align-items-center bd-highlight mb-3">
                                                <div class="p-2 bd-highlight text-center mb-5">
                                                    <label for="">
                                                <h6>
                                                    Cuánto saldo quieres añadir?
                                                </h6>
                                            </label>
                                                    <input type="text" name="" id="" class="form-control" placeholder="$00.00">
                                                    <button type="button" class="btn btn-secondary mt-3 text-black" data-dismiss="modal">PAYPAL</button>
                                                </div>

                                                <div class="p-2 bd-highlight text-center mt-5">
                                                    <small>
                                                    <p>Realiza una transferencia con un mínimo de $1000.00 MXN</p>
                                                    <p>Al pagar por este medio se te cobra 4.5% de la transacción</p>
                                            </small>
                                                </div>

                                            </div>

                                            <div class="d-flex flex-row-reverse bd-hightlight mt-5">
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">ENTENDIDO</button>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="pills-transferencia" role="tabpanel" aria-labelledby="pills-transferencia-tab">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <h6> 1. Realiza una transferencia a la siguiente cuenta: </h6>
                                            </div>
                                            <div class="row mt-2 mb-4">
                                                <ul>
                                                    <li><b>Banco destino:</b> BBVA Bancomer</li>
                                                    <li><b>Número de cuenta:</b> 0465958784</li>
                                                    <li><b>CLABE:</b> 012580004659587844</li>
                                                    <li><b>Beneficiario:</b> F..J..R..Q..</li>
                                                </ul>
                                            </div>
                                            <div class="row">
                                                <h6> 2. Envíanos tu comprobante de pago a nuestro email</h6>
                                            </div>
                                            <div class="row mt-2 mb-3">
                                                <p>hola@emissary.com.mx</p>
                                            </div>
                                            <div class="row mb-5">
                                                <p><b>Listo!</b> en un par de minutos tu saldo quedará asignado</p>
                                            </div>
                                            <div class="d-flex flex-row-reverse bd-hightlight mt-5">
                                                <button type="button" class="btn btn-outline-dark" data-dismiss="modal">ENTENDIDO</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Termina Modal - Agregar Saldo-->

 <!--Credit Card-->
 <script src="../js/card.js"></script>
 <script>
     new Card({
         form: document.getElementById('form-card'),
         container: '.credit-card-wrapper'
     });
 </script>
</body>

