
<!--Modal - Nuevo Vendedor-->
<div class="modal fade bd-example-modal-lg" id="modal-NuevoVendedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-body">
               <div class="container-fluid">
                   <div class="row">
                        <div class="col-12">
                            <!-- TABS -->
                            <ul class="nav nav-pills mb-3 d-flex justify-content-center" id="pills-tab-modal-nuevo-vendedor" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="pills-nuevo-vendedor-tab" data-toggle="pill" href="#pills-nuevo-vendedor" role="tab" aria-controls="pills-nuevo-vendedor" aria-selected="true">NUEVO VENDEDOR</a>
                                </li>
                            </ul>

                            <div class="tab-content" id="pills-tab-modal-nuevo-vendedor-Content">
                                <div class="tab-pane fade show active" id="pills-nuevo-vendedor" role="tabpanel" aria-labelledby="pills-nuevo-vendedor-tab">
                                    <div class="row">
                                        <p>Complete los datos para agregar</p>
                                    </div>
                                    <div class="row mb-3 mx-3">
                                        <div class="col-12">
                                                <form>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="inputName" placeholder="Nombre completo *" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" id="inputEmail" placeholder="Correo *" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="inputTelephone" placeholder="Teléfono *" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="inputComision" placeholder="Comisión/Envío *" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" id="inputTelephone" placeholder="Sueldo Mensual *" required>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputUser">Usuario</label>
                                                        <select id="inputUser" class="form-control">
                                                            <option value="">Selecciona un usuario</option>
                                                        </select>
                                                    </div>
                                                    <div class="d-flex flex-row bd-highlight justify-content-end mb-2 mt-5">
                                                        <button type="button" class="btn btn-outline-dark text-black" data-dismiss="modal">CERRAR</button>    
                                                        <button type="button" class="btn btn-secondary text-black ml-2" data-dismiss="modal">GUARDAR</button>
                                                    </div>
                                                </form>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
               </div>
            </div>
          </div>
        </div>
</div>
<!--Termina Modal - Nuevo Vendedor-->
