@import 'variables';
$bianco: #ffffff;
$nero: #000000;
$grigio_base: #f2f3f6;
$grigio_scuro: #96a1b7;
$grigio_chiaro: #c4cad8;
$grigio_medio: #98a3b6;
$grigio_2: #afb9cb;
$grigio_3: #7a8497;
$azzurro: #56a6fb;
$viola: #5757d2;
$viola2: #5761d2;
$verde: #34e2b5;
.dashboard {
    /*float: left;*/
    /* GENERALE */
    .case-standard {
        float: left;
        font-size: 1.4rem;
        color: $viola;
        letter-spacing: 0.57px;
        line-height: 1.7rem;
        margin-top: 1.1rem;
        margin-right: 3rem;
    }
    .content-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        width: 24rem;
        height: 100vh;
        background: $bianco;
        @include respond-to($tablet-start) {
            width: 100vw;
            position: relative;
        }
        .user-info {
            width: 100%;
            /*height: 32rem;*/
            background: linear-gradient( 315deg, $verde 0%, $azzurro 51.18%, $viola 100%);
            padding-top: 3rem;
            padding-bottom: 2.5rem;
            @include respond-to($phoneMedium) {
                padding: 20px;
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .user-mail {
                    padding-left: 72px;
                    margin-top: 0;
                    position: absolute;
                    top: 57px;
                }
            }
            .close-screen {
                display: none;
            }
            .user_edit_profile {
                .edit-profile-icon {
                    display: none;
                }
                @include respond-to($phoneMedium) {
                    position: absolute;
                    right: 20px;
                    text-indent: -4000px;
                    .edit-profile-icon {
                        display: block;
                    }
                }
                a {
                    color: white;
                    width: 100%;
                    text-align: center;
                    display: block;
                    margin-top: 27px;
                    font-family: OpenSans;
                    font-size: 10px;
                    font-weight: normal;
                    font-style: normal;
                    font-stretch: normal;
                    line-height: normal;
                    letter-spacing: 0.4px;
                    color: #ffffff;
                    text-decoration: underline;
                    @include respond-to($phoneMedium) {
                        margin-top: 0;
                    }
                }
            }
            .photo {
                position: relative;
                width: 9rem;
                height: 9rem;
                background: $grigio_base;
                border-radius: 100%;
                margin: 0 auto;
                margin-bottom: 2.5rem;
                image-orientation: none;
                image-orientation: from-image;
                overflow: hidden;
                background-image: url(assets/img/icons/Immagine_profilo.svg);
                background-repeat: no-repeat;
                background-position: center;
                @include respond-to($phoneMedium) {
                    width: 60px;
                    height: 60px;
                    margin-left: 20px;
                    margin-bottom: 0;
                    margin: 0;
                    margin-right: 20px;
                }
                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .user-name {
                font-size: 1.6rem;
                color: $bianco;
                letter-spacing: 0.44px;
                line-height: 1.8rem;
                text-align: center;
                @include respond-to($phoneLarge) {
                    transform: translateX(-6px);
                }
            }
            .user-mail {
                display: block;
                font-size: 1.2rem;
                color: $bianco;
                letter-spacing: 0.48px;
                line-height: 1.5rem;
                text-align: center;
                margin-top: 0.5rem;
            }
        }
        /* Simplebar - colora le barre di scorrimento in base al contenitore */
        .scroll {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            width: 100%;
            overflow: visible;
            /*height: calc(100vh - 32rem);*/
            .simplebar-content {
                -webkit-overflow-scrolling: touch;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .simplebar-track {
                right: 0.5rem;
            }
            .simplebar-scrollbar:before {
                background: linear-gradient( to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
            }
        }
        .user-menu {
            position: relative;
            padding: 0;
            margin: 0;
            margin-bottom: 5rem;
            li {
                position: relative;
                width: 100%;
                border-top: 0.2rem solid $grigio_base;
                .round {}
                &.dashboard-menu-item {
                    .round {
                        background: url("./assets/img/icons/Dashboard.svg");
                    }
                }
                &.orders-menu-item {
                    .round {
                        background: url("./assets/img/icons/Ordini.svg");
                    }
                }
                &.projects-menu-item {
                    .round {
                        background: url("./assets/img/icons/Progetti.svg");
                    }
                }
                &.address-menu-item {
                    .round {
                        background: url("./assets/img/icons/Indirizzi_spedizione.svg");
                    }
                }
                &.billing-menu-item {
                    .round {
                        background: url("./assets/img/icons/Fatturazione.svg");
                    }
                }
                &.plans-menu-item {
                    .round {
                        background: url("./assets/img/icons/piani_e_promo.svg");
                    }
                }
                &.edit-account-menu-item {
                    .round {
                        background: url("./assets/img/icons/Profilo.svg");
                    }
                }
                &.is-active {
                    &.dashboard-menu-item {
                        .round {
                            background: url("./assets/img/icons/Dashboard_white.svg");
                        }
                    }
                    &.orders-menu-item {
                        .round {
                            background: url("./assets/img/icons/Ordini_white.svg");
                        }
                    }
                    &.projects-menu-item {
                        .round {
                            background: url("./assets/img/icons/Progetti_white.svg");
                        }
                    }
                    &.address-menu-item {
                        .round {
                            background: url("./assets/img/icons/Indirizzi_spedizione_white.svg");
                        }
                    }
                    &.billing-menu-item {
                        .round {
                            background: url("./assets/img/icons/Fatturazione_white.svg");
                        }
                    }
                    &.plans-menu-item {
                        .round {
                            background: url("./assets/img/icons/piani_e_promo_white.svg");
                        }
                    }
                    &.edit-account-menu-item {
                        .round {
                            background: url("./assets/img/icons/Profilo_white.svg");
                        }
                    }
                    a {
                        background: linear-gradient( 315deg, $verde 0%, $azzurro 51.18%, $viola 100%);
                        .round {
                            border-color: $bianco;
                        }
                        span {
                            color: $bianco;
                        }
                    }
                }
                a {
                    display: block;
                    // width: 100%;
                    height: 5rem;
                    background: $bianco;
                    padding-top: 1.15rem;
                    padding-left: 2rem;
                    .round {
                        float: left;
                        width: 2.7rem;
                        height: 2.7rem;
                        border: 1px solid #a7b0c1;
                        border-radius: 100%;
                        margin-right: 2rem;
                        border: none;
                        background-size: contain !important;
                        border-radius: 0;
                        background-repeat: no-repeat !important;
                    }
                    span {
                        display: block;
                        margin-top: 0.5rem;
                        font-size: 1.3rem;
                        color: $grigio_3;
                        letter-spacing: 0.54px;
                        line-height: 1.6rem;
                    }
                }
            }
        }
        .logout-menu {
            position: relative;
            left: 0;
            bottom: auto;
            font-size: 1.1rem;
            color: #afb9cb;
            letter-spacing: 0.4px;
            line-height: 1.2rem;
            padding-left: 1.8rem;
            padding-bottom: 0.5rem;
            margin-bottom: 2.5rem;
            svg {
                margin-right: 0.8rem;
                margin-left: 1px;
            }
            .link-logout {
                position: relative;
                top: -8.5px;
            }
        }
    }
    /* DASHBOARD */
    .content {
        /*        position: relative;
                            float: left;
                            width: calc(100% - 24rem);
                            padding-left: 3.5rem;*/
        /* Simplebar - colora le barre di scorrimento in base al contenitore */
        .scroll {
            width: 100%;
            /* prova calcolo solo con css (-7rem: altezza .top-section, -3rem: per dargli tipo padding in basso, -8rem: per margin-top contenuto) */
            /*height: calc(100vh - 18rem);*/
            .simplebar-track {
                right: 0.5rem;
            }
            .simplebar-scrollbar:before {
                background: linear-gradient( to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
            }
        }
        .content-margin {
            margin-top: 8rem;
        }
        .top-header-dashboard {
            position: relative;
            /*max-width: 110rem;*/
            width: 110rem;
            height: 3rem;
            margin-bottom: 25px;
            /*overflow: hidden;*/
            @include respond-to($tablet-start) {
                width: 100%;
            }
        }
        .info-number-projects {
            float: left;
            font-size: 12px;
            color: #7f8b9e;
            margin-top: 9.5px;
            margin-left: 2.5rem;
            span {
                color: #5757d2;
            }
            a {
                color: #f4257a;
                text-decoration: underline;
            }
        }
        .content-block {
            float: left;
            @include respond-to($tablet-start) {
                width: 100%;
                padding: 0 20px;
            }
        }
        .dashboard-block {
            position: relative;
            width: 34.6rem;
            border-radius: 1rem;
            background: $bianco;
            margin-top: 2rem;
            margin-right: 2rem;
            height: 30rem;
            text-align: center;
            .button-azure {
                width: 160px;
            }
            .position-button-bottom {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
            }
            @include respond-to($tablet-start) {
                width: 100%;
            }
            &.dashboard-block-project {
                p {
                    margin-bottom: 0;
                }
                .content-last-project {
                    margin-top: 1.7rem;
                }
                .divisor-dashboard {
                    margin-top: 1.5rem;
                    margin-bottom: 1.5rem;
                }
                .header-date {
                    font-size: 1.4rem;
                    color: #7a8497;
                    letter-spacing: 0.45px;
                    text-align: center;
                    line-height: 1.7rem;
                    span {
                        font-weight: 700;
                        color: #5757d2;
                    }
                }
                .content-table {
                    overflow: hidden;
                }
                .column-1 {
                    float: left;
                    text-align: center;
                    width: 35%;
                    height: 17rem;
                    margin: 0;
                    padding-left: 10px;
                }
                .center-table {
                    position: relative;
                    display: inline-block;
                    float: left;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .img-case-project {
                    position: relative;
                    height: 14rem;
                    /*object-fit: cover;*/
                }
                .column-2 {
                    float: left;
                    width: 65%;
                    padding: 0;
                    margin: 0;
                    padding-left: 22px;
                }
                .name-subject {
                    font-size: 12px;
                    letter-spacing: 0.4px;
                    color: #7a8497;
                    margin: 0;
                    text-align: left;
                }
                .number {
                    font-size: 26px;
                    font-weight: 600;
                    letter-spacing: 1.3px;
                    color: #5757d2;
                    margin: 0;
                    margin-top: 2px;
                    text-align: left;
                    line-height: normal;
                }
                .button-azure {
                    /*float: left;*/
                    margin-top: 4.5rem;
                    float: left;
                }
                .block-data {
                    overflow: hidden;
                    padding-top: 2rem;
                    .col-block {
                        /*float: left;*/
                        &.col-1 {
                            width: 18rem;
                        }
                    }
                }
                .title-data,
                strong {
                    font-size: 1.4rem;
                    color: #56a6fb;
                    font-weight: 600;
                    letter-spacing: 0.45px;
                    line-height: 1.9rem;
                    text-transform: uppercase;
                    margin-bottom: 0.7rem;
                    &.gray {
                        color: #5761d2;
                        text-align: right;
                        margin-bottom: 0.3rem;
                    }
                    &.distance {
                        margin-top: 3rem;
                    }
                    &.total-title {
                        font-size: 14px;
                        letter-spacing: 0.5px;
                        color: #5757d2;
                        text-transform: none;
                        text-align: left;
                        margin-top: 1.5rem;
                    }
                }
            }
            &.dashboard-block-plan {
                .uptitle-plan {
                    font-size: 14px;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    color: #5757d2;
                    margin: 0;
                    margin-top: 1.5rem;
                    margin-bottom: 0.5rem;
                }
                .title-plan {
                    font-size: 26px !important;
                    font-weight: 600 !important;
                    line-height: normal !important;
                    letter-spacing: 0.5px !important;
                    color: #5757d2 !important;
                }
                .price-plan {
                    font-size: 30px !important;
                    font-weight: 300 !important;
                    line-height: normal !important;
                    text-align: center !important;
                    color: #34e2b5 !important;
                    letter-spacing: normal !important;
                }
            }
            &.disabled {
                background: transparent;
                border: 1px solid #7f8b9e;
                .content-title {
                    border-bottom: 1px solid #7f8b9e;
                    background: transparent;
                    .title {
                        color: #909aaa;
                    }
                }
                .button-azure {
                    /*                    border-color: $grigio_chiaro;
                                                                      color: $grigio_chiaro;*/
                }
            }
            .content-title {
                width: 100%;
                height: 4.5rem;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                background-color: #e1e6ee;
                &>div:not(.code-order):not(.last-order) {
                    display: inline-block;
                    margin: 0 auto;
                }
                .title {
                    font-size: 1.2rem;
                    font-weight: 600;
                    line-height: normal;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: #5757d2;
                    margin: 0;
                    margin-top: 15px;
                }
                .last-order {
                    float: left;
                }
            }
            .content-discount {
                display: inline-block;
                margin-top: 23px;
                margin-bottom: 10px;
                .code-discount {
                    font-size: 30px;
                    line-height: normal;
                    letter-spacing: 1.5px;
                    color: #5757d2;
                    margin: 0;
                }
                #code-discount {
                    display: none;
                }
            }
            .divisor-dashboard {
                max-width: 100%;
                height: 1px;
                background: #f2f3f6;
                margin: 10px 20px;
            }
            .content-order {
                margin-top: 1.5rem;
                .code-order {
                    font-size: 15px;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    font-weight: 600;
                    color: #5757d2;
                    margin-bottom: 15px;
                    span {
                        color: #7f8b9e;
                        font-weight: normal;
                    }
                }
                .total-order {
                    .title-total {
                        font-size: 14px;
                        line-height: normal;
                        letter-spacing: 0.5px;
                        text-align: center;
                        color: #5757d2;
                        margin: 0;
                        margin-top: 2rem;
                    }
                    .total-price-order {
                        display: block;
                        font-size: 26px;
                        font-weight: 600;
                        line-height: normal;
                        letter-spacing: 1.3px;
                        text-align: center;
                        color: #5757d2;
                        margin-bottom: 44px;
                    }
                }
                .progress-order {
                    overflow: hidden;
                    width: 60%;
                    margin: 0 auto;
                    margin-top: 18px;
                    .title-progress {
                        float: left;
                        font-size: 1.2rem;
                        color: #7a8497;
                        letter-spacing: 0.4px;
                        line-height: 1.3rem;
                        text-align: left;
                        margin: 0;
                        margin-left: 24px;
                    }
                    .progress-bar {
                        position: relative;
                        top: 5px;
                        float: right;
                        width: 67%;
                    }
                    /*                    .content-date-order {
                                                                          margin-top: 2.8rem;
                                                                          overflow: hidden;
                                                                          .round {
                                                                              float: left;
                                                                              width: 2.7rem;
                                                                              height: 2.7rem;
                                                                              border: 1px solid $grigio_chiaro;
                                                                              border-radius: 100%;
                                                                              margin-right: 1.5rem;
                                                                          }
                                                                          .date-order {
                                                                              float: left;
                                                                              font-size: 1.1rem;
                                                                              color: $grigio_3;
                                                                              font-weight: 600;
                                                                              letter-spacing: 1px;
                                                                              line-height: 1.5rem;
                                                                              margin-top: .6rem;
                                                                          }
                                                                      }*/
                }
            }
            .content-dashboard {
                text-align: center;
                .title-plan {
                    font-size: 2rem;
                    color: #242931;
                    letter-spacing: 0.67px;
                    line-height: 2.3rem;
                }
                .price-plan {
                    font-size: 4rem;
                    color: $viola;
                    letter-spacing: 1.33px;
                    line-height: 4.7rem;
                }
            }
            .content-upgrade {
                margin-top: 4.5rem;
                .button-azure {
                    /*float: none;*/
                }
            }
            .text-discount {
                width: 58%;
                font-size: 13px;
                line-height: normal;
                letter-spacing: 0.5px;
                text-align: center;
                color: #7f8b9e;
                margin: 0 auto;
                margin-top: 20px;
                margin-bottom: 40px;
            }
            .button-azure {
                float: none;
                /*width: 160px;*/
            }
            .content-disabled {
                .title-disabled {
                    font-size: 16px;
                    font-weight: 600;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #7f8b9e;
                    margin-top: 4rem;
                    margin-bottom: 1rem;
                }
                .content-empty {
                    width: 70%;
                    font-size: 13px;
                    line-height: normal;
                    letter-spacing: 0.5px;
                    text-align: center;
                    color: #7f8b9e;
                    margin: 0 auto;
                }
                .button-azure {
                    float: none;
                    position: absolute;
                    bottom: 20px;
                    left: 50%;
                    transform: translateX(-50%);
                }
            }
        }
    }
    .progress-bar {
        width: 100%;
        height: 0.6rem;
        border-radius: 0.3rem;
        background-color: $grigio_base;
        &>div {
            /*width: 5.6rem;*/
            height: 0.6rem;
            border-radius: 0.3rem;
            background: linear-gradient( 315deg, $verde 0%, $azzurro 51.18%, $viola 100%);
        }
    }
    .button-azure {
        display: inline-block;
        /*float: left;*/
        height: 3.3rem;
        padding: 0 2.1rem;
        border: 1px solid #5858d3;
        border-radius: 1.65rem;
        font-size: 1.2rem;
        color: #5858d3;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.7rem;
        &.azure-detail {
            float: none;
            padding-top: 0.7rem;
        }
        &.azure-project {
            display: inline-block;
            float: none;
            margin: 0 auto;
            margin-top: 1.9rem;
            padding-top: 0.7rem;
        }
        &.fixed-width {
            width: 10.4rem;
        }
        &.azure-close {
            float: right;
            padding-left: 1.7rem;
            padding-right: 0;
            text-align: left;
            margin-bottom: 2.3rem;
            border-color: #5858d3;
            width: 10.4rem !important;
            color: #5858d3;
            svg {
                transform: rotate(270deg);
                margin-left: 8px;
            }
        }
        &.azure-open {
            float: right;
            padding-left: 1.7rem;
            padding-right: 0;
            text-align: left;
            margin: 0;
            /*      margin-top: 9rem !important;
                              margin-left: 4rem;*/
            border-color: #5858d3;
            /*width: 11.4rem !important;*/
            color: #5858d3;
            svg {
                transform: rotate(90deg);
                margin-left: 8px;
            }
        }
        &.view-detail-order {
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
            &.nascondi {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }
        &.button-upgrade {
            position: static;
            float: right;
            padding-top: 0.6rem;
        }
        &.track-pack {
            text-decoration: underline;
            padding: 0;
            border: 0;
            background: none;
            height: auto;
            font-size: 1.3rem;
            font-weight: normal;
            color: #f4257a;
            margin-top: 2.5rem !important;
        }
    }
    .subtotal {
        display: inline-block;
        font-size: 1.3rem;
        color: $bianco;
        letter-spacing: 1px;
        line-height: 1.6rem;
        text-align: center;
        margin-bottom: 0.3rem;
    }
    .subtotal-price {
        display: block;
        font-size: 2.4rem;
        color: $bianco;
        font-weight: 600;
        letter-spacing: 1.2px;
        line-height: 3.3rem;
        text-align: center;
    }
    .button-blu-action {
        transition: 0.3s;
        display: inline-block;
        width: 10rem;
        height: 3.3rem;
        border-radius: 2rem;
        background: $viola2;
        font-size: 1.2rem;
        color: $bianco;
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 1.7rem;
        padding-top: 8px;
        outline: 0;
        box-shadow: 0px 0px 0px transparent;
        border: 0px solid transparent;
        text-shadow: 0px 0px 0px transparent;
        &.reorder {
            padding: 0;
            margin-top: 2.5rem;
        }
        &.modify-project {
            margin-top: 2.5rem;
        }
        &:hover,
        &:active,
        &:focus {
            box-shadow: 0px 0px 0px transparent;
            border: 0px solid transparent;
            text-shadow: 0px 0px 0px transparent;
            background-color: $bianco;
            color: #5757d2;
        }
    }
    /**/
    /* ORDINI */
    .user-table {
        margin-bottom: 3rem;
        clear: both;
        max-width: 1100px;
        width: 100%;
        .header {
            position: relative;
            display: flex;
            justify-content: space-between;
            /*align-content: center;*/
            align-items: center;
            max-width: 110rem;
            height: 4.5rem;
            background: #e1e6ee;
            border-radius: 1rem 1rem 0 0;
            margin-bottom: 0.2rem;
            @include respond-to($phoneMedium) {
                display: flex;
                height: 5.5rem;
                padding-top: 1.9rem !important;
            }
            .header-date {
                font-size: 1.4rem;
                color: #3a4352;
                letter-spacing: 0.45px;
                line-height: 1.7rem;
                margin-left: 3rem;
                span {
                    font-weight: bold;
                    color: $viola;
                }
            }
            .header-total {
                font-size: 1.4rem;
                color: $grigio_3;
                letter-spacing: 0.45px;
                margin-right: 2.5rem;
                line-height: 1.7rem;
                span {
                    font-weight: bold;
                    color: $viola;
                }
            }
        }
        .content-table {
            display: flex;
            @include respond-to($phoneMedium) {
                flex-wrap: wrap;
                width: 100%;
            }
            &.direction-column {
                flex-direction: column;
                .order-list {
                    margin-bottom: 0.3rem;
                }
            }
            .order-list {
                display: flex;
            }
            .column-1 {
                float: left;
                width: 16rem;
                background: $bianco;
                text-align: center;
                margin-right: 0.2rem;
            }
            .column-2 {
                float: left;
                width: 74.6rem;
                background: $bianco;
                padding: 0 3rem;
                margin-right: 0.2rem;
            }
            .column-3 {
                float: left;
                width: 19rem;
                height: 21.8rem;
                background: linear-gradient( 315deg, $verde 0%, $azzurro 53.72%, #6057d2 100%);
                text-align: center;
                /*                &.col-prod_shop-subtotal .subtotal {
                                                    margin-top: 75px;
                                                }
                                                &.col-prod_conf-subtotal .subtotal {
                                                    margin-top: 45px;
                                                }*/
            }
            .first-row {
                .center-table {
                    position: relative;
                    display: inline-block;
                    height: 100%;
                    position: relative;
                    display: flex;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                }
            }
            .center-table {
                position: relative;
                display: inline-block;
                height: 100%;
                &.image-shop {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    img {
                        width: auto;
                        height: 14rem;
                    }
                }
                &.center-vertical .img-case {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    margin: 0;
                }
                &.center-table-project {
                    width: 11rem;
                    margin-left: 1.9rem !important;
                    height: 200px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .img-case {
                    width: 9rem;
                    height: 16rem;
                    background: $grigio_scuro;
                    margin: 0 auto;
                    margin-top: 2.5rem;
                }
                .img-case-project {
                    height: 14rem;
                }
                .text-columns-left {
                    display: block;
                    font-size: 1.2rem;
                    color: $grigio_3;
                    letter-spacing: 0.39px;
                    line-height: 1.5rem;
                    margin: 1.8rem 0;
                    margin-top: 0;
                    &.text-help {
                        margin-bottom: 1.3rem;
                    }
                }
                .button-azure {
                    float: none;
                    margin: 0 auto;
                    margin-top: 0.9rem;
                    &.azure-green {
                        border-color: #50e3c2;
                        color: #50e3c2;
                        margin-bottom: 2.5rem;
                        padding-top: 7px;
                    }
                }
                .content-help-block {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    &.help-block-shop {
                        left: -5rem;
                    }
                }
            }
            .header-content {
                width: 100%;
                height: 4.5rem;
                /*border-bottom: 1px solid $grigio_base;*/
                .title-header-content {
                    float: left;
                    font-size: 1.4rem;
                    color: #758196;
                    letter-spacing: 0.45px;
                    line-height: 1.7rem;
                    margin-top: 1.3rem;
                    &.title-product-conf {
                        font-size: 13px;
                        color: $viola;
                        letter-spacing: 0.45px;
                        font-weight: bold;
                    }
                }
                .state-order {
                    float: left;
                    font-size: 1.2rem;
                    color: $grigio_3;
                    font-weight: 600;
                    letter-spacing: 0.39px;
                    line-height: 1.7rem;
                    margin-right: 2rem;
                }
                .right {
                    margin-top: 1.4rem;
                }
                .progress-bar {
                    float: left;
                    width: 13rem;
                    margin-top: 0.6rem;
                    &.tooltip-dashboard {
                        border: 0;
                    }
                }
            }
            .title-data,
            strong {
                font-size: 1.4rem;
                color: $azzurro;
                font-weight: 600;
                letter-spacing: 0.45px;
                line-height: 1.9rem;
                text-transform: uppercase;
                margin-bottom: 0.7rem;
                &.gray {
                    color: $viola2;
                    text-align: right;
                    margin-bottom: 0.3rem;
                }
                &.distance {
                    margin-top: 3rem;
                }
                &.lowercase {
                    text-transform: none;
                }
            }
            .block-data {
                display: flex;
                justify-content: space-between;
                overflow: hidden;
                border-top: 1px solid $grigio_base;
                /*border-bottom: 1px solid $grigio_base;*/
                padding: 2rem 0;
                &.last-block {
                    border: 0;
                }
                .col-block {
                    /*float: left;*/
                    &.col-1 {
                        /*width: 22.5rem;*/
                        @include respond-to($till-large) {
                            flex-basis: 50%;
                            p.txt-info-load-design {
                                width: 100%;
                            }
                        }
                        @include respond-to($phoneMedium) {
                            flex-basis: 100%;
                            width: 100%;
                        }
                    }
                    &.col-2 {
                        /*width: 22.5rem;*/
                        @include respond-to($till-large) {
                            flex-basis: 50%;
                        }
                        @include respond-to($phoneMedium) {
                            flex-basis: 100%;
                            width: 100%;
                        }
                    }
                    &.col-3 {
                        /*width: auto;*/
                        @include respond-to($phoneMedium) {
                            flex-basis: 100%;
                            width: 100%;
                        }
                    }
                    &.col-3-right {
                        /*float: right;*/
                        @include respond-to($till-large) {
                            flex-basis: 100%;
                        }
                    }
                    &.col-double {
                        /*width: 38rem;*/
                        /*margin-right: 7rem;*/
                        @include respond-to($phoneMedium) {
                            flex-basis: 100%;
                            width: 100%;
                        }
                    }
                    p {
                        font-size: 1.3rem;
                        color: $grigio_3;
                        letter-spacing: 0.48px;
                        line-height: 2.4rem;
                        &.number {
                            font-size: 1.3rem;
                            letter-spacing: 0.73px;
                            text-align: right;
                            margin-bottom: 0;
                            &.align-left {
                                text-align: left;
                            }
                        }
                        &.distance {
                            margin-bottom: 2.1rem;
                        }
                        &.txt-info-load-design {
                            font-size: 11px;
                            line-height: 1.64;
                            letter-spacing: 0.4px;
                            color: #000000;
                            width: 75%;
                            strong {
                                font-size: 11px;
                                line-height: 1.64;
                                letter-spacing: 0.4px;
                                color: #000000;
                                font-weight: 600;
                            }
                        }
                        .load-file {
                            text-decoration: underline;
                            color: #f4257a;
                        }
                    }
                    .button-azure {
                        margin-top: 4.5rem;
                        &.azure-invoices {
                            text-decoration: underline;
                            padding: 0;
                            border: 0;
                            background: none;
                            height: auto;
                            font-size: 1.3rem;
                            font-weight: 400;
                            color: #f4257a;
                            margin-top: 2.5rem !important;
                        }
                    }
                    .content-qta-price {
                        /*float: left;*/
                    }
                }
                .list-plan-functions {
                    margin: 0;
                    li {
                        p {
                            font-size: 13px;
                            line-height: 1.85;
                            letter-spacing: 0.5px;
                            color: #758196;
                            margin-bottom: 0;
                            strong {
                                font-size: 13px;
                                color: #758196;
                                letter-spacing: 0.5px;
                                line-height: 1.85rem;
                                text-transform: none;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
    //ABBONAMENTI ORDINI
    .content-cart {
        .content-table {
            display: block;
            width: 100%;
            .block-data {
                width: 100%;
                padding: 0;
                background: $bianco;
                /*                border-bottom-left-radius: 1rem;
                                                border-bottom-right-radius: 1rem;*/
                strong {
                    font-size: 1.4rem;
                    color: #56a6fb;
                    font-weight: 600;
                    letter-spacing: 0.45px;
                    line-height: 1.9rem;
                    text-transform: uppercase;
                    margin-bottom: 0.7rem;
                }
                .col-block {
                    /*padding-top: 2rem;*/
                    &.col-1 {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-basis: 20%;
                        padding: 0;
                        height: 241px;
                        border-right: 2px solid #f2f3f6;
                        @include respond-to($phoneLarge) {
                            width: 100%;
                        }
                        img {
                            width: auto;
                            /*height: 100%;*/
                            height: 18rem;
                            object-fit: cover;
                        }
                        .round {
                            width: 8rem;
                            height: 8rem;
                            background: $grigio_base;
                            border-radius: 100%;
                            margin: 0 auto;
                            margin-top: 3rem;
                        }
                    }
                    &.col-2 {
                        margin: 0 3rem;
                        margin-right: 5rem;
                        &.col-plan {
                            padding: 2rem 3rem;
                            margin: 0;
                            margin-right: 0.2rem;
                            flex-basis: 60%;
                            margin-right: 0;
                            width: auto;
                            height: auto;
                        }
                    }
                    &.col-2,
                    &.col-3,
                    &.col-4 {
                        width: auto;
                    }
                    &.col-4 {
                        float: right;
                        margin-right: 2rem;
                        &.col-plan-payment {
                            margin: 0;
                        }
                    }
                    &.col-5 {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        float: none;
                        width: auto;
                        height: auto;
                        flex-basis: 20%;
                        @include respond-to($phoneLarge) {
                            width: 100%;
                            margin-top: 20px;
                        }
                        background: linear-gradient( 315deg,
                        #34e2b5 0%,
                        #56a6fb 53.72%,
                        #6057d2 100%);
                    }
                    .sub-tot {
                        color: $bianco;
                        font-size: 1.3rem;
                        line-height: 1.6rem;
                        text-align: center;
                        margin: 0;
                    }
                    .sub-tot-price {
                        display: block;
                        font-size: 2.4rem;
                        color: $bianco;
                        font-weight: 600;
                        letter-spacing: 1.2px;
                        line-height: 3.3rem;
                        text-align: center;
                    }
                    .title-payment {
                        display: block;
                        font-size: 1.4rem;
                        color: #5761d2;
                        font-weight: 600;
                        letter-spacing: 0.45px;
                        line-height: 1.9rem;
                        text-align: right;
                        margin-top: 6rem;
                    }
                    .text-payment {
                        display: block;
                        font-size: 2rem;
                        color: #7a8497;
                        margin-top: 0.2rem;
                        letter-spacing: 0.73px;
                        line-height: 2.4rem;
                        text-align: right;
                    }
                }
            }
        }
    }
    /* PAGINAZIONE */
    .dashboard-pagination {
        max-width: 110rem;
        margin-top: 3rem;
        .results-page {
            position: relative;
            margin-right: 22rem;
            .dropdown-select {
                width: 8.3rem;
                float: left;
                margin: 0;
                .dropdown-selected {
                    margin-left: 1.5rem;
                    svg {
                        margin-left: 2rem;
                    }
                }
            }
            .accordion {
                top: auto;
                bottom: 2.2rem;
                right: auto;
                left: 0;
                width: 8.3rem;
                .dropdown-list {
                    border-top: 1px solid $grigio_chiaro;
                    border-bottom: 0;
                    border-radius: 0;
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                    padding-top: 0;
                    padding-bottom: 1rem;
                    margin-left: 0;
                    li {
                        // padding-left: 1.5rem;
                    }
                }
            }
        }
        .text-results {
            float: left;
            font-size: 1.2rem;
            color: $grigio_3;
            letter-spacing: 1px;
            line-height: 1.5rem;
            margin-top: 0.9rem;
            margin-left: 1.5rem;
        }
        .left-navigation {
            float: left;
            margin-right: 2rem;
            color: $grigio_medio;
            /* TODO - da cambiare poi */
            margin-top: 1.1rem;
            cursor: pointer;
            svg {
                transform: rotate(180deg);
            }
        }
        .number-pages {
            float: left;
            margin: 0;
            li {
                transition: 0.3s;
                position: relative;
                float: left;
                width: 3.3rem;
                height: 3.3rem;
                border: 1px solid $grigio_chiaro;
                border-radius: 0.5rem;
                font-size: 1.2rem;
                color: $grigio_3;
                font-weight: 600;
                letter-spacing: 1px;
                margin-right: 1rem;
                cursor: pointer;
                &:hover {
                    background: rgba(255, 255, 255, 0.5);
                }
                &:last-child {
                    margin: 0;
                }
                &.active {
                    background: $bianco;
                }
                &.suspension {
                    width: auto;
                    border: 0;
                    padding-top: 0.5rem;
                }
                span {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    height: 1.6rem;
                }
            }
        }
        .right-navigation {
            float: left;
            margin-left: 2rem;
            color: $grigio_medio;
            /* TODO - da cambiare poi */
            margin-top: 1.1rem;
            cursor: pointer;
            svg {
                transform: rotate(360deg);
            }
        }
    }
}

.woocommerce-MyAccount-content {
    @include respond-to($tablet-start) {
        .account-form-inner {
            padding-top: 0;
        }
    }
}

.simplebar-offset,
.simplebar-mask {
    // -webkit-transform: translateX(0);
    // transform: translateX(0);
}

.p-woocommerce-order-received {
    .woocommerce {
        padding-top: 0;
    }
}

.col-prod_conf-subtotal,
.col-prod_shop-subtotal,
.dashboard .content-cart .content-table .block-data .col-block.col-5 {
    @include respond-to($phoneLarge) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100% !important;
        text-align: left !important;
        padding-left: 20px;
        position: relative;
        height: 118px !important;
        flex-basis: unset;
        align-items: flex-start;
        .reorder {
            top: 20px;
            right: 20px;
            position: absolute;
        }
        .subtotal-price {
            text-align: left;
        }
        .under-subtotal {
            text-align: left;
        }
        .subtotal {
            text-align: left;
        }
    }
}

.restore-item {
    color: #f4257a;
    &:hover,
    &:active {
        color: #f4257a;
    }
}

.dashboard .content.content-orders {
    .center-table {
        height: 241px !important;
    }
    .img-case-order {
        height: 14rem;
        padding: 0;
    }
}

.content-table>.block-data {
    border: 0 !important;
}