.woocommerce-MyAccount-content {
    position: relative;
    float: left;
    /*width: calc(100% - 24rem);*/
    width: 100%;
    margin-top: 5.5rem;
    /*padding-left: 5rem;*/
    /*padding-right: 2.5rem;*/
    @include respond-to($tablet-start) {
        padding: 0 20px;
    }
    .simplebar-content>p {
        display: none;
    }
    .simplebar-track {
        right: 0.5rem;
    }
    .simplebar-scrollbar:before {
        background: linear-gradient( to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
    }
}

.woocommerce {
    .top-section .info-right {
        right: 55px;
        @include respond-to($tablet-start) {
            right: 20px;
        }
    }
    .top-section .toggle_menu_sx {
        /*        position: relative;
                                            left: -1.5rem;*/
        &.toggle_single {
            position: static;
            margin-left: 3.3rem;
        }
    }
}

.dashboard {
    .content {
        @include respond-to($tablet-start) {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }
    }
    .content-plans-section {
        /*padding-left: 5rem;*/
    }
    .content-all-plans {
        margin-top: 70px;
    }
    .plan-block {
        float: left;
        width: 34.5rem;
        margin-right: 30px;
        &:last-child {
            margin: 0;
        }
    }
    .content-plans {
        .user-welcome {}
        .simplebar-track {
            right: 0.5rem;
        }
        .simplebar-scrollbar:before {
            background: linear-gradient( to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
        }
    }
    .content-projects {
        .simplebar-track {
            right: 0.5rem;
        }
        .simplebar-scrollbar:before {
            background: linear-gradient( to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
        }
        .user-table {
            .header .header-total {
                margin-right: 3.3rem;
                .round-project {
                    float: left;
                    width: 2.6rem;
                    height: 2.6rem;
                    border: 1px solid #4a90e2;
                    border-radius: 100%;
                    margin-right: 2.5rem;
                    cursor: pointer;
                    transition: 0.3s ease;
                    &:hover {
                        path {
                            stroke: #f4257a;
                        }
                    }
                    &.round-project-pdf {
                        border: none;
                    }
                    &.round-project-delete {
                        margin: 0;
                        border: none;
                    }
                }
            }
            .content-table {
                .column-1 {
                    width: 29rem;
                    margin: 0;
                    border-right: 2px solid #f2f3f6;
                    display: flex;
                    justify-content: space-between;
                    @include respond-to($tablet-horizontal) {
                        flex-wrap: wrap;
                        padding-bottom: 20px;
                    }
                    @include respond-to($phoneMedium) {
                        flex-basis: 100%;
                        width: 100%;
                        justify-content: flex-start;
                    }
                }
                .column-2 {
                    width: 61rem;
                    margin: 0;
                    padding-right: 4.5rem;
                    .col-block.col-1,
                    .col-block.col-2,
                    .col-block.col-3,
                    .col-block.col-3-right {
                        flex-basis: unset;
                    }
                }
                .column-3 {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 20rem;
                    height: auto;
                    /*border-radius: 0 0 1rem 0;*/
                    @include respond-to($phoneMedium) {
                        width: 100%;
                        text-align: left;
                        padding-left: 30px;
                        padding-bottom: 20px;
                        position: relative;
                        .subtotal {
                            text-align: left;
                        }
                        .subtotal-price {
                            text-align: left;
                        }
                        .under-subtotal {
                            text-align: left;
                        }
                        form {
                            position: absolute;
                            right: 30px;
                            top: 29px;
                        }
                    }
                }
                .center-table {
                    float: left;
                    margin-left: 5rem;
                    @include respond-to($tablet-horizontal) {
                        height: auto;
                        width: 200px;
                        height: 200px;
                        display: flex;
                        align-items: center;
                        overflow: hidden;
                        margin-left: 0 !important;
                        margin-right: 0;
                        padding-top: 20px;
                        .img-case-project {
                            //  width: 120rem;
                            // height: 56rem;
                            object-fit: cover;
                        }
                    }
                    @include respond-to($phoneMedium) {
                        width: 150px;
                    }
                }
                .content-download {
                    float: left;
                    width: 14rem;
                    margin-top: 2.5rem;
                    @include respond-to($tablet-horizontal) {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        padding: 0 20px;
                        width: 100%;
                    }
                    @include respond-to($phoneMedium) {
                        max-width: 150px;
                    }
                    .txt-download-case {
                        display: block;
                        font-size: 12px;
                        letter-spacing: 0.4px;
                        color: #7a8497;
                        text-align: left;
                        margin-top: 1.5rem;
                        margin-bottom: 1.6rem;
                        @include respond-to($tablet-horizontal) {
                            text-align: center;
                        }
                        @include respond-to($phoneMedium) {
                            text-align: left;
                        }
                    }
                }
                .block-data {
                    padding-top: 4.5rem;
                    padding-bottom: 0;
                    border: 0;
                    display: flex;
                    @include respond-to($tablet-horizontal) {
                        padding-top: 20px;
                        padding-bottom: 20px;
                    }
                }
            }
        }
    }
    &.content-cart {
        /*padding-left: 5rem;*/
        width: 100%;
        /*padding-right: 2.5rem;*/
        .simplebar-content>p {
            display: none;
        }
        .simplebar-track {
            right: 0.5rem;
        }
        .simplebar-scrollbar:before {
            background: linear-gradient( to bottom, #1e5799 0%, #2989d8 50%, #207cca 51%, #7db9e8 100%);
        }
        .content-cart-user-table {
            float: left;
            width: 95rem;
        }
        .remove-product-cart,
        .remove-others-product-cart {
            transition: 0.3s;
            position: relative;
            top: -4px;
            float: right;
            width: 2.6rem;
            height: 2.6rem;
            border-radius: 100%;
            cursor: pointer;
            margin-right: 1rem;
            background-repeat: no-repeat !important;
            background-size: contain !important;
            background-image: url("./assets/img/icons/Cancella.svg");
            &.tooltip-dashboard {
                border: 0;
            }
            &:hover {
                background-image: url("./assets/img/icons/Cancella_red.svg");
            }
        }
        .header {
            display: block;
            float: left;
            padding-top: 1.5rem;
            padding-left: 3rem;
            padding-right: 1rem;
            width: 100%;
            .product-name {
                font-size: 1.4rem;
                color: #758196;
                letter-spacing: 0.45px;
                line-height: 1.7rem;
            }
        }
        .content-table {
            display: block;
            width: 100%;
            .block-data {
                width: 100%;
                padding: 0;
                background: $bianco;
                border-bottom-left-radius: 1rem;
                border-bottom-right-radius: 1rem;
                .col-block {
                    padding-top: 2rem;
                    &.col-1 {
                        position: relative;
                        width: 16rem;
                        height: 22rem;
                        border-right: 2px solid #f2f3f6;
                        padding: 0;
                        &.image-shop img {
                            display: block;
                            height: 14rem;
                            object-fit: cover;
                        }
                        img {
                            width: auto;
                            height: 14rem;
                        }
                        .round {
                            width: 8rem;
                            height: 8rem;
                            background: $grigio_base;
                            border-radius: 100%;
                            margin: 0 auto;
                            margin-top: 3rem;
                        }
                    }
                    &.col-2 {
                        margin: 0 3rem;
                        margin-right: 5rem;
                        &.col-plan {
                            width: 32rem;
                            margin-right: 0;
                        }
                    }
                    &.col-2,
                    &.col-3,
                    &.col-4 {
                        width: auto;
                    }
                    &.col-4 {
                        float: right;
                        margin-right: 2rem;
                        &.col-plan-payment {
                            margin-right: 3.6rem;
                        }
                    }
                    &.col-5 {
                        float: right;
                        width: 20rem;
                        height: 22rem;
                        border-radius: 0 0 10px 0;
                        background: linear-gradient( 315deg, #34e2b5 0%, #56a6fb 53.72%, #6057d2 100%);
                    }
                    .sub-tot {
                        color: $bianco;
                        font-size: 1.3rem;
                        line-height: 1.6rem;
                        text-align: center;
                        margin: 0;
                    }
                    .sub-tot-price {
                        display: block;
                        font-size: 2.4rem;
                        color: $bianco;
                        font-weight: 600;
                        letter-spacing: 1.2px;
                        line-height: 3.3rem;
                        text-align: center;
                    }
                    .title-payment {
                        display: block;
                        font-size: 1.4rem;
                        color: #5761d2;
                        font-weight: 600;
                        letter-spacing: 0.45px;
                        line-height: 1.9rem;
                        text-align: right;
                        margin-top: 6rem;
                    }
                    .text-payment {
                        display: block;
                        font-size: 2rem;
                        color: #7a8497;
                        margin-top: 0.2rem;
                        letter-spacing: 0.73px;
                        line-height: 2.4rem;
                        text-align: right;
                    }
                }
            }
        }
    }
    .order-summary {
        float: left;
        margin-left: 3rem;
        .header {
            width: 33rem;
            height: 6.5rem;
            padding-top: 2.2rem;
            padding-left: 7rem;
            border-radius: 1rem 1rem 0 0;
            background-color: #e1e6ee;
            font-size: 1.8rem;
            color: #5757d2;
            letter-spacing: 0.58px;
            line-height: 2.1rem;
        }
        .content-summary {
            position: relative;
            width: 33rem;
            margin-top: 6.5rem;
            border-radius: 0 0 1rem 1rem;
            background-color: $bianco;
            text-align: center;
            padding: 3rem;
            padding-bottom: 6rem;
            &>div {
                overflow: hidden;
            }
        }
        .content-iva {
            margin-top: 1.5rem;
            margin-bottom: 3.5rem;
        }
        .title-left {
            float: left;
            font-size: 1.6rem;
            color: #7a8497;
            letter-spacing: 0.76px;
            line-height: 1.8rem;
            &.big {
                position: relative;
                top: 0.5rem;
                font-size: 2.4rem;
                letter-spacing: 0.91px;
                line-height: 2.8rem;
            }
        }
        .price-right {
            float: right;
            font-size: 1.6rem;
            color: #7a8497;
            font-weight: 600;
            letter-spacing: 0.76px;
            line-height: 2.2rem;
        }
        .price-right-big {
            font-size: 3rem;
            color: #5757d2;
            font-weight: 600;
            letter-spacing: 1.14px;
            line-height: 4rem;
        }
        .coupon {
            text-align: center;
            input[type="text"] {
                width: 100%;
                height: 6rem;
                border-radius: 0.5rem;
                background-color: #f2f3f6;
                margin-top: 3rem;
                font-size: 1.3rem;
                line-height: 1.6rem;
                font-size: 18px;
                letter-spacing: 0.4px;
                color: #5757d2;
                text-align: center;
                box-shadow: none;
                border: 0;
                &::placeholder {
                    font-size: 1.3rem !important;
                    color: #5761d2 !important;
                    letter-spacing: 0.62px !important;
                    opacity: 0.6 !important;
                }
                &:focus {
                    border: 1px solid #5757d2;
                    background-color: #f2f3f6;
                }
            }
            button {
                margin: 0;
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0.4px;
                color: #5761d2;
                background: none;
                border: 0;
                box-shadow: none;
                text-decoration: underline;
                padding: 5px;
            }
        }
        .info-paypal {
            font-size: 1.2rem;
            color: #a1abbd;
            letter-spacing: 0.65px;
            line-height: 1.8rem;
            text-align: center;
            margin: 0;
            margin-top: 4rem;
        }
        .go-to-buy {
            position: absolute;
            bottom: -3rem;
            left: 50%;
            transform: translateX(-50%);
            display: inline-block;
            width: 22rem;
            height: 6rem;
            padding-top: 1.8rem;
            /*padding-left: 4.8rem;*/
            border-radius: 3.25rem;
            background: linear-gradient( 315deg, #34e2b5 0%, #56a6fb 51.18%, #5757d2 100%);
            box-shadow: 0 0 12px 0 rgba(152, 163, 182, 0.3);
            font-size: 1.6rem;
            color: $bianco;
            letter-spacing: 0.6px;
            .lucchetto {
                display: none;
                position: absolute;
                top: 0.2rem;
                left: 0.2rem;
                height: 5.6rem;
                width: 5.6rem;
                border-radius: 100%;
                background-color: $bianco;
                cursor: pointer;
                svg {
                    position: absolute;
                    top: 2rem;
                    left: 2rem;
                }
            }
        }
    }
    .content-orders {
        .user-table {
            .header {
                display: block;
                .header-date {
                    float: left;
                    padding-top: 1.5rem;
                }
                .header-total {
                    float: right;
                    padding-top: 1.5rem;
                }
            }
            .content-table {
                display: block;
            }
            .content-table {
                overflow: hidden;
                .first-row {
                    overflow: hidden;
                    .column-1 {
                        height: 21.8rem;
                        /*border-bottom: 1px solid $grigio_base;*/
                    }
                }
                .second-row {
                    display: none;
                    overflow: hidden;
                    &.product-shop .column-1 {
                        height: auto;
                    }
                    .column-1 {
                        height: 16.5rem !important;
                        &.without-content {
                            height: 0 !important;
                        }
                    }
                    &.second-row-open {
                        display: flex;
                    }
                }
            }
        }
        .content-cart {
            max-width: 110rem;
        }
        .img-case-order {
            width: auto;
            height: 40rem;
            padding-top: 1rem;
            object-fit: cover;
        }
        .swiper-slide img {
            /*height: 18rem !important;*/
        }
        .download-image {
            margin-left: auto;
            margin-right: auto;
        }
        .block-data {
            strong {
                font-size: 1.3rem;
                color: $grigio_3;
                font-weight: 700;
                letter-spacing: normal;
                line-height: normal;
                text-transform: none;
                margin-bottom: 0;
            }
        }
        .button-azure {
            /*width: auto;*/
            background: $bianco;
        }
    }
    table {
        margin: 0;
    }
    table thead,
    table tbody,
    table tfoot {
        background: transparent;
        border: 0;
    }
    table th,
    table td,
    table th,
    table td {
        padding: 0;
    }
    table td {
        text-align: right;
        font-size: 1.6rem;
        color: #7a8497;
        font-weight: 600;
        letter-spacing: 0.76px;
        line-height: 2.2rem;
    }
    table tr.tax-rate th,
    table tr.tax-rate td {
        padding-top: 1.5rem;
        padding-bottom: 3.5rem;
    }
    table tr.order-total th {
        font-size: 2.4rem;
        letter-spacing: 0.91px;
        line-height: 2.8rem;
    }
    table tr.order-total td {
        font-size: 3rem;
        color: #5757d2;
        font-weight: 600;
        letter-spacing: 1.14px;
        line-height: 4rem;
    }
    .text-accept-uses {
        font-size: 1.3rem;
        color: #7a8497;
        font-weight: 300;
        letter-spacing: 0.65px;
        line-height: 1.8rem;
        text-align: center;
        padding-top: 4rem;
        a {
            color: $grigio_scuro;
            text-decoration: underline;
        }
    }
    .order-summary-cart {
        .text-accept-uses {
            display: none;
        }
    }
    .payment_methods,
    .place-order {
        display: none;
    }
    thead {
        display: none;
    }
    th {
        font-size: 1.6rem;
        font-weight: normal;
        color: #7a8497;
        letter-spacing: 0.76px;
        line-height: 1.8rem;
        &.big {
            position: relative;
            top: 0.5rem;
            font-size: 2.4rem;
            letter-spacing: 0.91px;
            line-height: 2.8rem;
        }
    }
}

.download-image {
    transition: 0.3s;
    display: block;
    width: 9.5rem;
    height: 3.3rem;
    border: 1px solid $azzurro;
    border-radius: 1.65rem;
    font-size: 1.2rem;
    color: $azzurro;
    font-weight: 600;
    letter-spacing: 1px;
    background-image: url(assets/img/icons/Scarica_blu.svg);
    background-repeat: no-repeat;
    background-position: 24px center;
    background-size: 11px;
    padding-top: 0.55rem;
    margin-bottom: 1.4rem;
    &:hover {
        background-image: url(assets/img/icons/Scarica_white.svg);
    }
    span {
        margin-left: 26px;
    }
    &:last-child {
        margin: 0;
    }
    &:hover {
        background-color: $azzurro;
        /*background-image: url(assets/img/icons/Scarica-white.svg);*/
        color: $bianco;
    }
}

.under-subtotal {
    display: block;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.5px;
    text-align: center;
    color: #ffffff;
    strong {
        font-size: 13px !important;
        font-weight: 600 !important;
        letter-spacing: 0.5px !important;
        text-align: center !important;
        color: #ffffff !important;
    }
}

.tooltip-dashboard {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    .tooltiptext {
        transition: 0.3s;
        visibility: hidden;
        opacity: 0;
        width: 7rem;
        height: 3rem;
        background-color: #5757d2;
        font-size: 10px;
        color: #fff !important;
        text-align: center;
        border-radius: 8px;
        position: absolute;
        z-index: 100;
        bottom: 168%;
        left: 50%;
        margin-left: -36px;
        padding-top: 6.5px;
    }
    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 6px;
        border-style: solid;
        border-color: #5757d2 transparent transparent transparent;
    }
    &.tooltip-order {
        .tooltiptext {
            top: 250%;
            left: 50%;
        }
        .tooltiptext::after {
            content: "";
            position: absolute;
            bottom: 100%;
            top: auto;
            left: 50%;
            margin-left: -5px;
            border-width: 6px;
            border-style: solid;
            border-color: transparent transparent #5757d2 transparent;
        }
    }
    &:hover .tooltiptext {
        visibility: visible;
        opacity: 1;
    }
}

.icon-plan {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: linear-gradient(315deg, #34e2b5, #56a6fb 42%, #6057d2);
    border-radius: 100%;
    margin: 0 auto;
    margin-top: 63px;
    &.icon-plan-order {
        margin: 0;
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px !important;
        height: auto !important;
    }
}

.switcher-blu {
    position: relative;
    width: 30rem;
    height: 4rem;
    border: 0.2rem solid transparent;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.2);
    margin: auto;
    margin-top: 0.5rem;
    &.how-you {
        width: 36rem;
        @media screen and (max-width: 414px) {
            width: 100%;
        }
        &:after {
            width: 33.333%;
        }
        &.move-center:after {
            transform: translateX(calc(100% - 0.2rem));
        }
        &.move:after {
            transform: translateX(calc(200% - 0.2rem));
        }
        li {
            width: 33.333%;
        }
    }
    &:after {
        transition: 0.3s;
        transform: translateX(0);
        content: "";
        position: absolute;
        top: 0;
        left: 0.1rem;
        width: 50%;
        height: calc(100% - 0.2rem);
        background: $viola;
        border-radius: 1.8rem;
    }
    &.move:after {
        transform: translateX(calc(100% - 0.2rem));
    }
    li {
        position: relative;
        z-index: 1;
        float: left;
        width: 50%;
        font-size: 1.1rem;
        color: $bianco;
        letter-spacing: 0.37px;
        line-height: 1.3rem;
        text-align: center;
        padding-top: 1.2rem;
        padding-bottom: 1.2rem;
        cursor: pointer;
    }
}

.plans-type-payment {
    float: right;
    overflow: hidden;
    margin: 0;
    margin-right: 0.5rem;
    li {
        transition: 0.3s;
        float: left;
        width: 94px;
        height: 33px;
        border-radius: 5px;
        border: 1px solid #afb9cb;
        font-size: 12px;
        color: #3a4352;
        text-align: center;
        padding-top: 6px;
        margin-right: 20px;
        cursor: pointer;
        &:last-child {
            margin: 0;
        }
        &.active {
            color: $bianco;
            background-color: #5757d2;
            border: 0;
        }
    }
}

.form-plane-enterprice {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999999;
    width: 100%;
    height: 100%;
    background: gray;
    .close-popup {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2.5rem;
        line-height: 100%;
        cursor: pointer;
    }
    .center-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .title-form {
            text-align: center;
        }
        label {
            display: block;
        }
    }
}

.cart-discount {
    th,
    td {
        color: #f4257a !important;
        padding-bottom: 15px !important;
    }
    th {
        font-weight: bold;
    }
}

.p-woocommerce-cart {
    .woocommerce-message {
        position: absolute;
        padding: 40px;
        padding-top: 50px;
        border-radius: 10px;
        z-index: 1500;
        background-image: linear-gradient(128deg, #8337c5, #ff77a0);
        font-size: 13px;
        font-weight: 300;
        line-height: 1.54;
        color: #ffffff;
        margin: 0;
        & * {
            font-size: 13px;
            font-weight: 300;
            line-height: 1.54;
            color: #ffffff;
            margin: 0;
        }
    }
}

.woocommerce-error {
    position: absolute;
    padding: 40px;
    border-radius: 10px;
    z-index: 1500;
    background-image: linear-gradient(128deg, #8337c5, #ff77a0);
    & * {
        font-size: 13px;
        font-weight: 300;
        line-height: 1.54;
        color: #ffffff;
        margin: 0;
    }
}

.manager-error {
    .woocommerce-notices-wrapper {
        display: none;
    }
    .content-wc-message {
        position: absolute;
        right: 30px;
        bottom: -22px;
        &.wc-message-address {
            right: 40px;
            bottom: 13px;
            .woocommerce-error {
                margin-right: 20px;
            }
        }
        .woocommerce-error {
            position: static;
            padding: 0;
            border-radius: 0;
            background: none;
            & * {
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0.5px;
                color: #f4257a;
                margin: 0;
            }
        }
        .woocommerce-message {
            position: relative;
            top: -10px;
            right: 22px;
            font-size: 13px;
            font-weight: 600;
            letter-spacing: 0.5px;
            color: #34e2b5;
            & * {
                font-size: 13px;
                font-weight: 600;
                letter-spacing: 0.5px;
                color: #34e2b5;
                margin: 0;
            }
        }
    }
}


/*.woocommerce-account .content-header {
    display: none;
}*/


/*[class*="woocommerce-page"] .top-link {
    display: none;
}*/

[class*="logged-in"] {
    .top-link {
        /*display: none;*/
    }
    .content-header {
        display: block;
        padding-bottom: 2rem;
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
    }
}

.content-checkout {
    /*padding-left: 5rem;*/
    width: 100%;
    /*padding-right: 2.5rem;*/
}

#wpadminbar {
    /*display: none;*/
}

.content-right-myaccount {
    float: left;
    width: calc(100% - 24rem);
    margin-left: 24rem;
    padding-left: 5rem;
    padding-bottom: 2.5rem;
    @include respond-to($till-large) {
        padding-left: 25px;
        padding-right: 25px;
        width: 100%;
    }
    @include respond-to($tablet-start) {
        width: 100%;
        float: none;
        margin: 0;
        padding: 0;
    }
}


/* tendine selezione */

.dropdown-select {
    position: relative;
    z-index: 11;
    float: right;
    width: 19rem;
    height: 3.3rem;
    background: $grigio_base;
    border: 1px solid $grigio_chiaro;
    border-radius: 0.5rem;
    margin-bottom: 2.5rem;
    cursor: pointer;
    .dropdown-selected {
        display: block;
        font-size: 1.2rem;
        color: $grigio_3;
        margin-top: 0.65rem;
        margin-left: 3rem;
        svg {
            transition: 0.3s;
            position: absolute;
            transform: rotate(90deg);
            top: 1.1rem;
            right: 1rem;
            &.open {
                transform: rotate(270deg);
            }
        }
    }
}

.accordion {
    display: none;
    position: absolute;
    width: 19rem;
    top: 2.3rem;
    right: 0;
    z-index: 10;
    background: transparent;
}

.dropdown-list {
    background: $grigio_base;
    border: 1px solid $grigio_chiaro;
    border-top: 0;
    border-radius: 0;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    padding-top: 1rem;
    margin-left: 0;
    li {
        transition: 0.3s;
        font-size: 1.2rem;
        color: $grigio_3;
        padding: 0.6rem 0;
        padding-left: 3rem;
        cursor: pointer;
        &:hover {
            background: $grigio_chiaro;
        }
    }
}

.content-form {
    text-align: center;
    padding-right: 5rem;
    form {
        display: inline-block;
        text-align: left;
    }
}

.woocommerce-MyAccount-content .second-title {
    margin-top: 4rem;
}

.content-right-cart,
.content-right-checkout {
    width: 100%;
    margin: 0 auto;
    max-width: 139rem;
    margin: 0 auto;
    padding: 0 20px;
    .toggle_menu_sx {
        //margin-left: 40px;
    }
    .top-section .info-right {
        //right: 40px;
    }
    .user-welcome {
        position: relative;
        top: -15px;
        margin-left: 40px;
    }
}

.content-right-checkout {
    .user-welcome {
        //margin-left: 47px;
    }
    .toggle_menu_sx {
        //margin-left: 48px;
    }
    .info-right {
        right: 45px !important;
    }
}

#order_review_heading {
    display: none;
}

.user-welcome {
    float: left;
    font-size: 2rem;
    color: $grigio_3;
    letter-spacing: 0.5px;
    line-height: 2.3rem;
    margin-top: 0.5rem;
    margin-left: 1rem;
    margin-bottom: 0;
    clear: both;
}

.box-set-privacy {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 110rem;
    border-radius: 1rem;
    background-color: $bianco;
    padding: 35px;
    .left-privacy {
        width: 80%;
    }
    ul {
        margin: 0;
        li {
            .checkbox-section {
                margin-left: 0;
                margin-bottom: 1.3rem;
                &.checkbox-section-first {
                    margin-top: 0;
                }
                &.checkbox-section-last {
                    margin-bottom: 0;
                }
                .c-checkbox {
                    width: auto;
                    margin-right: 1rem;
                }
            }
            .text-checkbox {
                position: relative;
                top: 1px;
                font-size: 1.1rem;
                color: $grigio_3;
                letter-spacing: 0.51px;
                line-height: 17px;
            }
        }
    }
    .button-save-privacy {
        top: 5rem;
        right: 3.5rem;
        margin: 0;
    }
}

.button-border-blu {
    display: inline-block;
    width: 17rem;
    height: 3.3rem;
    border: 1px solid $azzurro;
    border-radius: 16.5px;
    font-size: 1.2rem;
    color: $azzurro;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    padding: 5px 0;
    margin-top: 1.5rem;
    &.button-left {
        margin-right: 2rem;
    }
}

.arrow-menu {
    position: absolute;
    top: 2.1rem;
    right: 2rem;
    background: url(configuratore/img/arrow-dashboard-menu.svg) no-repeat;
    background-size: contain;
    width: 1rem;
    height: 0.9rem;
}

.box-historical-orders {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 110rem;
    border-radius: 1rem;
    background-color: $bianco;
    padding: 35px;
    padding-bottom: 23px;
    table {
        margin: 0;
        /*table-layout: fixed;*/
        /*width: auto;*/
        tbody,
        tfoot {
            border: 0;
            background: transparent;
        }
        tr {
            background: transparent !important;
        }
        th {
            font-size: 1rem;
            color: $grigio_3;
            font-weight: 600;
            letter-spacing: 0.4px;
            padding-bottom: 20px;
        }
        td {
            font-size: 1.4rem;
            color: $grigio_3;
            letter-spacing: 0.56px;
            padding-bottom: 12px;
        }
    }
    .azure-invoices {
        transition: 0.3s;
        display: inline-block;
        margin-right: 5px;
        &:hover svg.icona-fatturazioni {
            path {
                stroke: $viola;
            }
        }
    }
}

.cart-discount {
    display: none;
    th,
    td {
        padding-top: 1.5rem !important;
        .woocommerce-remove-coupon {
            display: none;
        }
    }
}

.woocommerce-form-coupon-toggle {
    display: none;
}

.woocommerce-notices-wrapper {
    /*    display: none;
                      position: fixed;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      z-index: 999999;
                      background: $grigio_chiaro;
                      padding: 1.5rem;
                      padding-top: 3rem;
                      font-size: 1.5rem;
                      color: $nero;
                      ul {
                          margin: 0;
                      }
                      .close-wc-notification {
                          position: absolute;
                          top: 0;
                          right: 0;
                          width: 2rem;
                          height: 2rem;
                          background: red;
                      }*/
}

.supported_img {
    margin-top: 20px;
    p {
        font-family: OpenSans;
        font-size: 10px;
        font-weight: 300;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.6;
        letter-spacing: 0.5px;
        color: #3a4352;
    }
    span {
        color: #f4257a;
    }
    a {
        text-decoration: underline;
        color: #3a4352;
    }
}

.content-projects {
    @include respond-to($tablet-start) {
        width: 100%;
        padding: 0 20px;
    }
}

.page-cart-error {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(302deg, #34e2b5, #56a6fb 42%, #6057d2);
    align-items: center;
    max-height: 100%;
    overflow-y: auto;
    display: flex;
    .title-cart-error {
        font-family: Museo;
        font-size: 40px;
        font-weight: 500;
        line-height: 1.25;
        text-align: center;
        color: #ffffff;
        a {
            color: white;
        }
    }
    .restore-item {
        color: white !important;
    }
    .link-cart-error {
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #ffffff;
        background: none;
        padding: 0;
        margin: 0;
    }
}

#alert-box-share-project {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 900;
    /*opacity: 0.6;*/
    background-image: linear-gradient(302deg, #34e2b5, #56a6fb 42%, #6057d2);
    .inner-share {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 490px;
        border-radius: 10px;
        background-color: #5757d2;
        padding: 70px 80px;
    }
    p {
        margin: 0;
    }
    .close-popup-share {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 25px;
        height: 25px;
        background-image: url(assets/img/icons/icon_x_white.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        border: 0;
        box-shadow: none;
        @include respond-to($phoneLarge) {
            left: 40px;
        }
    }
    .title-share {
        font-family: Museo;
        font-size: 21px;
        font-weight: 500;
        line-height: 1.38;
        color: #ffffff;
        margin-bottom: 12px;
    }
    .text-share {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.43;
        color: #ffffff;
        margin-bottom: 20px;
        strong {
            font-weight: 400;
            &.title-bold {
                font-weight: 600;
            }
        }
    }
    .link-share {
        display: inline-block;
        font-size: 13px;
        font-weight: 600;
        line-height: 1.54;
        color: #49e5bc;
        word-break: break-all;
        text-decoration: underline;
        margin-bottom: 30px;
    }
    input[type="email"] {
        font-size: 12px;
        color: #ffffff;
        margin-top: 30px;
        margin-bottom: 35px;
        background: none;
        border: 0;
        box-shadow: none;
        padding-bottom: 15px;
        padding-left: 0;
        border-radius: 0;
        border-bottom: 1px solid #fff;
        &::placeholder {
            font-size: 12px !important;
            color: #ffffff !important;
            opacity: 1 !important;
        }
    }
    input[type="text"] {
        display: none;
    }
    input[type="submit"] {
        width: 290px;
        height: 60px;
        border-radius: 30px;
        border: solid 1px #ffffff;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.5px;
        color: #ffffff;
        background: transparent;
        text-align: left;
        padding-left: 30px;
        background-image: url(assets/img/icons/Freccia_per_Button.svg);
        background-repeat: no-repeat;
        background-position: 240px center;
        margin-left: 20px;
    }
}

.close-wc-error-popup,
.close-wc-message-popup {
    position: relative;
    top: -15px;
    left: -15px;
    width: 20px;
    height: 20px;
    background-image: url(assets/img/icons/icon_x_white.svg);
    background-repeat: no-repeat;
    cursor: pointer;
}

.close-wc-message-popup {
    position: absolute;
    top: 20px;
    left: 20px;
}

.is-product-shop {
    display: none;
}

#url_my_account {
    display: none;
}

.top-header-overflow {
    /*overflow: hidden;*/
    .left-pagination {
        position: relative;
        float: left;
        .user-welcome {
            margin-right: 50px;
        }
        .dropdown-selected {
            color: #3a4352;
        }
    }
    .right-pagination {
        position: relative;
        float: right;
        .text-result-page {
            float: left;
            margin-top: 0.6rem;
            margin-right: 1.5rem;
            font-size: 12px;
            color: #7f8b9e;
        }
        .content-dropdown-per_page {
            float: left;
            margin-right: 5rem;
            position: relative;
            color: #3a4352;
            .dropdown-selected {
                color: #3a4352;
                margin-left: 1.4rem;
            }
        }
        .dropdown-list li {
            padding-left: 1.5rem;
        }
        .per_page-select {
            width: 7rem;
        }
        .accordion-per_page {
            width: 7rem;
        }
        #pagination-order {
            float: left;
            @include respond-to($phoneLarge) {
                display: none !important;
            }
        }
    }
}


/* pagination order */

.paginationjs .paginationjs-pages li {
    margin-right: 10px;
    border: 0;
    &.active>a {
        width: 33px;
        height: 33px;
        line-height: 33px;
        background: #ffffff;
        color: #5761d2;
        border: 0;
    }
    &:first-child,
    &:last-child {
        border: 0;
        a {
            border: 0;
            text-indent: -99999px;
            background-image: url("./assets/img/icons/Freccia.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 15px;
            transform: rotate(180deg);
            min-width: auto;
            width: 20px;
        }
    }
    &:last-child {
        margin: 0;
        a {
            transform: rotate(0);
        }
    }
    &.disabled>a {
        opacity: 0.6;
        &:hover {
            background-image: url("./assets/img/icons/Freccia.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: 15px;
        }
    }
    &>a {
        width: 33px;
        height: 33px;
        border-radius: 5px;
        border: solid 1px #afb9cb;
        background: transparent;
        font-size: 12px;
        font-weight: 600;
        letter-spacing: 1px;
        color: #afb9cb;
        line-height: 33px;
        &:hover {
            background-color: transparent;
        }
    }
}

.form-project-cart {
    position: absolute;
    display: none;
    .return-cart {
        margin-top: 4.5rem;
        padding-top: 0;
    }
}

.pers_after-flex {
    display: flex;
}

.download-file-after {
    display: inline-block;
    font-size: 13px;
    line-height: 1.85;
    letter-spacing: 0.48px;
    color: #f5a623;
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
        color: #f5a623;
    }
}


/*.upload-file-after {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 163px;
    height: 33px;
    border-radius: 16.5px;
    border: solid 1px #f5a623;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #f5a623;
    margin: 1.5rem 0;
    &:last-child {
        margin-bottom: 0;
    }
}*/

.col-2-autorize {
    display: flex;
    justify-content: center;
    align-items: center;
}

.autorize-print-after {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    background-image: linear-gradient(284deg, #34e2b5, #56a6fb 54%, #6057d2);
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.44px;
    color: #ffffff;
    margin-top: 20px;
    margin-left: 100px;
}


/**/

ul.upload-buttons-order {
    margin: 0;
    li {
        position: relative;
        display: block;
        width: 163px;
        height: 33px;
        border-radius: 16.5px;
        letter-spacing: 0.5px;
        color: #f5a623;
        margin: 1.5rem 0 !important;
        input.file-upload-order {
            display: none;
        }
        label {
            transition: 0.3s;
            display: inline-block;
            width: 100%;
            height: 100%;
            color: #f5a623;
            cursor: pointer;
            border: 1px solid #f5a623;
            border-radius: 16.5px;
            background-color: #fff;
            background-repeat: no-repeat;
            font-size: 12px;
            letter-spacing: 0.5px;
            &.input-loaded {
                transform: translateX(38px);
                background-color: #34e2b5;
                border: 0;
                .file-variable-upload-load {
                    display: none;
                }
                .file-variable-upload-loaded {
                    display: block;
                    .img-upload-inner {
                        transform: translateX(-38px);
                        background-color: #34e2b5;
                    }
                    .text-upload-inner {
                        color: #fff;
                    }
                }
                .file-variable-upload-error {
                    display: none;
                }
                .file-variable-upload-name {
                    display: none;
                }
            }
            &.input-error {
                transform: translateX(38px);
                background-color: #fff;
                border-color: #f4257a;
                .file-variable-upload-load {
                    display: none;
                }
                .file-variable-upload-loaded {
                    display: none;
                }
                .file-variable-upload-error {
                    display: block;
                    .img-upload-inner {
                        transform: translateX(-38px);
                        background-color: #fff;
                    }
                    .text-upload-inner {
                        color: #f4257a;
                    }
                }
                .file-variable-upload-name {
                    display: none;
                }
            }
            &.input-name {
                transform: translateX(38px);
                background-color: #5757d2;
                border: 0;
                .file-variable-upload-load {
                    display: none;
                }
                .file-variable-upload-loaded {
                    display: none;
                }
                .file-variable-upload-error {
                    display: none;
                }
                .file-variable-upload-name {
                    display: block;
                    .reset-upload-order {
                        transform: translateX(-38px);
                        background-color: #5757d2;
                    }
                    .text-upload-inner {
                        color: #fff;
                    }
                }
            }
        }
        .img-upload-inner,
        .reset-upload-file,
        .reset-upload-order {
            position: absolute;
            left: 0;
            width: 33px;
            height: 33px;
            background-position: center;
            background-repeat: no-repeat;
            border-radius: 100%;
            margin: 0;
        }
        .text-upload-inner {
            display: inline-block;
            width: 13rem;
            margin-top: 5px;
            margin-left: 20px;
            overflow: hidden;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
        }
        .file-variable-upload-loaded {
            display: none;
            .img-upload-inner {
                background-image: url(configuratore/img/order-file-loaded.svg);
                background-size: 16px;
            }
        }
        .file-variable-upload-error {
            display: none;
            .img-upload-inner {
                background-image: url(configuratore/img/order-file-error.svg);
                background-size: 28px;
            }
        }
        .file-variable-upload-name {
            display: none;
            .reset-upload-order {
                background-image: url(configuratore/img/order-delete-file.svg);
                background-size: 11px;
            }
        }
    }
}