$Xsmall-phone: "(max-width: 320px)";
$small-phone: "(max-width: 365px)";
$phone: "(max-width: 480px)";
$phoneLarge: "(max-width: 767px)";
$phoneSmall: "(max-width: 375px)";
$phoneMedium: "(max-width: 640px)";
$tablet-start: "(max-width: 991px)";
$tablet-portrait: "(max-width: 768px)";
$tablet-landscape: "(min-width: 769px) and (max-width: 1024px)";
$till-tablet-landscape: "(max-width: 1023px)";
$till-large: "(max-width: 1366px)";
$tablet-horizontal: " (max-width: 1024px) ";
$true-tablet-landscape: "(min-width: 769px) and (max-width: 1024px) and (max-height: 992px)";
$large-desktop: "(min-width: 1200px)";
$x-large-desktop: "(min-width: 1440px)";
$non-retina: "screen and (-webkit-max-device-pixel-ratio: 1)";
$ipad-pro-portrait: "(min-width: 1024px)  and (max-height: 1366px)and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5)  ";
$retina: "(min--moz-device-pixel-ratio: 1.5), 
 (-o-min-device-pixel-ratio: 3/2),
(-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi),
(min-resolution: 1.5dppx)";
;
@mixin respond-to($media) {
    @media only screen and #{$media} {
        @content;
    }
}

@mixin fluid-font-size( $responsive, $min-font-size, $max-font-size, $fallback: false) {
    $responsive-unitless: $responsive / ($responsive - $responsive + 1);
    $dimension: if(unit($responsive)=="vh", "height", "width");
    $min-breakpoint: $min-font-size / $responsive-unitless * 100;
    $max-breakpoint: $max-font-size / $responsive-unitless * 100;
    @media (max-#{$dimension}: #{$min-breakpoint}) {
        font-size: $min-font-size;
    }
    @media (min-#{$dimension}: #{$max-breakpoint}) {
        font-size: $max-font-size;
    }
    @if $fallback {
        font-size: $fallback;
    }
    font-size: $responsive;
}

// @font-face {
//   font-family: "Daxline Pro";
//   src: url("assets/fonts/DaxlinePro/DaxlinePro-Light.otf");
//   font-weight: 300;
// }
// @font-face {
//   font-family: "Daxline Pro";
//   src: url("assets/fonts/DaxlinePro/DaxlinePro-Regular.otf");
//   font-weight: 400;
// }
// @font-face {
//   font-family: "Daxline Pro";
//   src: url("assets/fonts/DaxlinePro/DaxlinePro-Medium.otf");
//   font-weight: 600;
// }
// @font-face {
//   font-family: "Daxline Pro";
//   src: url("assets/fonts/DaxlinePro/DaxlinePro-Bold.otf");
//   font-weight: 800;
// }
@font-face {
    font-family: "Museo";
    src: url("assets/fonts/Museo-300.otf");
    font-weight: 300;
}

@font-face {
    font-family: "Museo";
    src: url("assets/fonts/Museo-500.otf");
    font-weight: 500;
}

@font-face {
    font-family: "Museo";
    src: url("assets/fonts/Museo-100.otf");
    font-weight: 100;
}

@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/OpenSans-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/OpenSans-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "OpenSans";
    src: url("assets/fonts/OpenSans-Light.ttf");
    font-weight: 300;
}

$titleFont: "Museo",
serif;
$textFont: "OpenSans",
sans-serif;
$bg-grey: #f2f3f6;
$text-black: #3a4352;
//$fx-gradient: linear-gradient(282deg, #34e2b5, #56a6fb 42%, #6057d2);
$fx-button-gradient: linear-gradient( 135deg,
#6057d2 0%,
#56a6fb 38%,
#34e2b5 50%);
$fx-gradient: linear-gradient(317deg,
#34e2b5,
#56a6fb 42%,
#6057d2);
$fx-violet: #5757d2;
$fx-green: #34e2b5;
$fx-grey: #7f8b9e;
$fx-dark-pink: #f4257a;
$fx-light-blue: #afb9cb;
$fx-dark-grey: #758196;
$fx-sky-blue: #56a6fb;